/* Styles for the root element of the application */
.App {
  text-align: center; /* Aligns the content of the root element to the center */
}

/* Styles for the logo of the application */
.App-logo {
  height: 40vmin; /* Sets the height of the logo to 40% of the viewport height */
  pointer-events: none; /* Prevents the logo from being the target of pointer events */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
