button{
    background-color: #3887BE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: #9BB8CD; 
}

button.active{
    background-color:green; color:#fff;

}