/* This CSS code defines styling for a form container */
/* Sets margin around the container and text color */
.from-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
    
}
/* Styles for the form within the container */
.from-container form{
    padding-top: 4rem;/* Adds padding above the form */
    display:flex;/* Displays form items in a flex container */
    flex-direction:column;/* Sets the direction of flex items to column */
    width:50%;/* Sets the width of the form */
    margin:auto; /* Centers the form horizontally */
}
.from-container input{
    height:3rem;
    padding:0 2rem;
    margin-bottom:2rem;
    border-radius: .3rem;
    border: 2px solid #2a2a2a;
}

.from-container textarea{
    padding: 2rem;
    margin-bottom:2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}

.from-container button{
    display:inline;

}

@media screen and (max-width:850px){
    .from-container{
        margin:4rem 2rem;
    }

    .from-container from{
        padding-top:2rem;
        width:90%;
    }
}