/* Styling for the main footer container */
.footer{
    padding: 4rem 6 rem; /* Adds padding around the footer */
    background: #000; /* Sets background color to black */
    color:#ffffff; /* Sets text color to white */
}
/* Styling for the top section of the footer */
.top{
   display:flex; /* Displays elements in a flex container */
   align-items: center; /* Aligns items vertically at the center */
   text-align:start;  /* Sets text alignment to start (left) */
   justify-content: space-between; /* Distributes items evenly along the main axis */
   flex-wrap:wrap; /* Allows items to wrap to the next line if needed */

}
/* Styling for social media icons in the top section */
.top i{
    color: #fff; /* Sets icon color to white */
    font-size: 2rem; /* Sets font size of icons */
    margin-left: .5rem; /* Adds margin to the left of icons */  
}

/* Styling for social media icons on hover */
.top i:hover{
    color: #01959a; /* Changes icon color on hover */
}
/* Styling for the bottom section of the footer */
.bottom {
    padding-top: 2rem; /* Adds padding above the bottom section */
    text-align: start; /* Sets text alignment to start (left) */
    display: flex; /* Displays elements in a flex container */
    justify-content: space-evenly; /* Distributes items evenly along the main axis */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

/* Styling for individual sections within the bottom section */
.bottom div {
    display: flex; /* Displays elements in a flex container */
    flex-direction: column; /* Sets the direction of flex items to column */
}

/* Styling for headings within the bottom section */
.bottom h4 {
    font-size: 1.3rem; /* Sets font size of headings */
    padding: 1rem 0 .8rem 0; /* Adds padding to headings */
}

/* Styling for links within the bottom section */
.bottom a {
    text-decoration: none; /* Removes underline from links */
    color: #fafafa; /* Sets text color to off-white */
    padding-bottom: .4rem; /* Adds padding to the bottom of links */
    font-size: 1.1rem; /* Sets font size of links */
}

/* Media query for responsiveness */
@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem; /* Adjusts padding for smaller screens */
    }
    .footer i {
        margin: 1rem 1rem 0 0; /* Adjusts margin for social media icons on smaller screens */
    }
    .bottom div {
        width: 50%; /* Sets width of sections within the bottom section for smaller screens */
    }
}